@charset "UTF-8"; /*인코딩 문자 깨짐 방지 (유니코드 문자열 있을 시)*/

html{
    /* 사용자 설정 문자 크기 그대로 반영 되도록 */
    font-size: 100%;
}

body {
    color : #432;
    line-height: 2.0; 
}

a {
    text-decoration: none;
}

img{
    max-width: 100%;
}

/* header ------------------------------ */
.header {
   width: 100%;
    max-height: 200px;
}

.head-inner {
    max-width: 1000px;
    max-height: 200px;
    margin : 0 auto;
}

.logo{
    width: 200px;
    text-align: center;
    display: block; 
    margin: 0px auto;
    margin-bottom: -20px;
}

.big-category{
    display: flex;
    justify-content: space-between;
}

.category1>a{
    margin-right: 20px;
    color: gray;
    font-family: 'Noto Sans KR', sans-serif;
}

.category2>a{
    margin-right: 20px;
    color: gray;
    font-family: 'Noto Sans KR', sans-serif;
}





/*---------------body----------------*/

/*타이틀 부분*/
.board {
    width: 100%;
    margin : 0 auto;
 }
 
 .board-inner {
     max-width: 100%;
     display: flex;
 }

.title-big{
    margin-top: -40px;
}

.title{
    position:sticky;
    transform: translate(50px, 37px);                                                                   
    font-size:25px;
    font-weight: bold;
    z-index: 2;
    color:rgb(7, 86, 105);

}

.word{
    position: sticky;
    transform: translate(55px, 32px);                                                                   
    font-size:17px;
    color:rgb(7, 86, 105);
    z-index: 2;
}

.view1{
   margin-left : 600px;
   position:sticky;
    transform: translate(150px, 130px); 
    text-decoration: underline;

}
.view1>a {
    color: gray;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
}


/* 게시판 */

.body-super{
    width: 100%;
    height: auto;
}

.board{
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 130px;
    margin-left: -100px;
}

 .board-inner {
     max-width: 1000px;
     margin : 0 auto;
     height: auto;
    
 }


 
.body-big{
    margin-bottom: 150px;
}

 .body-inner {
     max-width: 1000px;
     margin : 0 auto;
     height: auto;
    
 }

.title-big{
    position:sticky;
    transform: translate(50px, 25px); 
}

.pics{
    width: 200px;
    margin-bottom: 50px;
}

 .first{
    display: flex;
    justify-content: space-between;
 }
 .second{
    display: flex;
    justify-content: space-between;
 }

 .third{
    display: flex;
    justify-content: space-between;
 }
 .fourth{
    display: flex;
    justify-content: space-between;
 }






.all-title{
    position:relative; 
}

.first-title{
    position: absolute;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-left: 7px;
    margin-top: 0px;
}

.name{
    position: absolute;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    margin-top: -5px;
    margin-left: 7px;
}



/*-------하단 페이징-----------*/
.paging{
    margin-top: 20px;
    margin-bottom: -90px;
}

.board_paging {
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    list-style: none;
    width: 480px;
    margin: auto;
 }
 
 .board_paging a {
    text-decoration: none;
    color: #282A35;
    width: 40px;
    display: block;
    text-align: center;
 }
 
 .board_paging a.current_page {
    border-bottom: 2px solid #282A35;
    font-weight: bold;
 }


/*---------------footer----------------*/

.footer{
    width: 100%;
    height: 150px;
    background-color:  rgb(248, 241, 233);
}

.foot-inner{
    max-width: 1000px;
    max-height: 150px;
    margin : 0 auto;
    display: flex;
    justify-content: space-between;
}

.foot-all{
    margin-top:25px;
}

.foot-logo{
    font-size: 30px;
    font-weight: bold;
    color:rgb(145, 244, 244);
    margin-left: 100px;
    margin-top: 45px;
    font-family: 'Noto Sans KR', sans-serif;

}

.information{
    font-size: 5px;
}

.foot-category{
    font-size: 5px;
    font-weight: bold;
    margin-right: 100px;
}

.foot-category>ul>a{
    color:black;
}


/* 이용약관 */
.final{
    max-width: 1000px;
    margin : 0 auto;
}

.foot-final{
    text-align:center;
    font-size: 5px;
    font-weight: bold;
}

.foot-final>a{
    color: gray;
    font-size: 12px;
}