
@charset "UTF-8";

html {
    font-size : 100%;
    font-family: 'Noto Sans KR', sans-serif;
}

.body-super{
    width: 1000px;
    margin : 0 auto;
    height: auto;
    font-family: 'Noto Sans KR', sans-serif;
    
    
 }
 
 .body-inner-blue{
   width:1000px;
   height: auto;
   border: 6px solid rgb(218, 239, 245);
   background-color: white;
   margin: 0 auto;
   margin-top: 20px;
}

.write{
   display: flex;
   justify-content: center;
}

.content-inner{
   width: 700px;
   align-items: center;
   margin-top: 20px;
}

.buttons{
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}

.back{
   margin-left: 20px;
}

.back>button{
background-color: rgb(218, 239, 245);
font-size: 16px;
border: 1px lightgrey solid;
border-radius: 5px;
font-family: 'Noto Sans KR', sans-serif;
}

.admin{
   margin-right: 10px;
}

.admin>button{
   margin-right: 10px;
   font-size: 16px;
   background-color:rgb(7, 86, 105);
   color: white;
   font-family: 'Noto Sans KR', sans-serif;
   border: 1px rgb(7, 86, 105) solid;
   border-radius: 5px;
   height: 30px;
   width:45px
}



.title{
   margin-top: 40px;
   text-align: center;
   color:rgb(7, 86, 105);
   font-weight: bold;
   font-size: 27px;
}

.myinfo{
   display: flex;
   justify-content: space-between;
}

.myinfo1{
   display: flex;
}
.profile{
   width: 100px;
   height: 100px;
}

.id{
   margin-top:30px;
   margin-right: 15px;
   margin-left: 10px;
}

.id>a{
   font-size: 17px;
   color:grey;
   top:20px;
}

.date{
   margin-top:13px;
   color:grey;
}

.date>p{
   font-size: 17px;
}

.follow{
   margin-top: 32px;
}

.follow>button{
   background-color:  rgb(218, 239, 245);
   border: lightgrey;
   padding: 7px;
}

.hr1{
  border-color: grey;
}

.content{
	margin-bottom:70px;
}




.comment{
	width :1010px;
   background-color: rgb(237, 237, 237);
   display: grid;
 
   
}

.comment-title{
   margin-top:20px;
   margin-left: 50px;
   color:rgb(7, 86, 105);
   font-weight: bold;
   font-size: 23px;
}

.comment-each{
   display: flex;
   justify-content: space-between;
}

.com-front{
   display: flex;
   margin-left: 20px;
}


.reply_list>ul{
   list-style:none;
   padding-left:0px;
   }
   
.reply_ul>a{
	margin-left:40px;
	margin-top:60px;
}

.rcontent{
	margin-left:220px;
	margin-top:-30px;
}

.rdate{
	margin-left:750px;
	margin-top:-30px;
}



.com-button{
   margin-top : 40px;
   margin-right: 40px;
}

.hr2{
   border-color: grey;
   width: 820px;
   z-index: 9999;
 }

 .reply_write {
   display:flex;
   justify-content: center;
   padding : 20px;
}

.reply_content {
   width:730px;
   height : 80px;
   resize : none;
}

.reply_write>button{
   background-color : rgb(218, 239, 245);
   margin-top: 20px;
   margin-left: 20px;
   height: 40px;
   font-family: 'Noto Sans KR', sans-serif;
   border-radius: 10px;
   border:1px lightgray solid;
}


.ntype{
	margin-top:50px;
	margin-bottom: -20px;
	margin-left : 150px;
	color:grey;
	font-family: 'Noto Sans KR', sans-serif;
}
