@charset "UTF-8";
html{
    font-size:100%;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

hr{
    margin-bottom: -3px;
    margin-top: -3px;
}

/* body-----------------*/
/* 상단 타이틀 */
.pList_wrapper{
    margin : 20px auto;
    padding : 3% 4%;
}

#pList_box{
    width: 980px;
    margin : 0 auto;
    border : 6px solid rgb(218,239,245);
    padding: 3% 4%;
    margin-bottom: 30px;
}

#back {
    font-size: 1.1rem;
    color: slategray;
}

#back:hover{
    color: rgb(145, 224, 244);
    text-decoration: none;
}

#firstbox h2{
	font-size : 1.8rem;
	color : rgb(7, 86, 105);
}

#main_title{
    color: rgb(188,188,188);
    font-size: 1.2rem;
    margin-top : -2%;
}

/* 결제내역 필터 */
.pay_filter{
    padding: 2%;
    margin: 30px auto;
    width: 90%;
    height: 35px;
    background-color: rgb(218, 239, 245);
    border: 1px solid rgb(185,185,185, 0);
    border-radius: 5px;
}
.pay_filter form{
    margin: auto 15%;
}
.pay_filter label{
    font-size: 1.2rem;
}
.pay_filter input[type=date]{
    border: 1px solid rgb(185,185,185, 0);
    border-radius: 5px;
    width: 190px;
    height: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    margin-left: 5px;
    font-size : 1.0rem;
}
.pay_filter [name=filter_submit]{
    border: 1px solid rgb(185,185,185, 0);
    border-radius: 5px;
    width: 75px;
    height: 35px;
    background-color: rgb(7, 86, 105);
    color: white;
    cursor: pointer;
    margin-left: 20px;
    font-size : 1.0rem;
}

/* 결제 내역 타이틀 */
.list_title{
    color : rgb(94, 94, 94);
    display: flex;
    justify-content:space-around;
}
#cInfo{
    margin-left: 90px;
    font-weight: lighter;
}
#cDate{
    font-weight: lighter;
    margin-left: 130px;
}
#cPrice{
    font-weight: lighter;
}

/* 결제내역 정보 */
/* .list_detail{
    visibility: hidden;
} */

.list_detail hr{
  margin-top: -155px;
}
.class_info{
    padding: 4% 2%;
    width: 49%;
    height: 50px;
    position: relative;
    border-right: 1px solid lightgray;
    /* margin-top: 40px; */
    top:40px;
}
.class_img{
    width: 200px;
    height: 140px;
    margin-left: -10px;
    position: relative;
    top : -40px;
}
.class_img img{
    width: 200px;
    height: 140px;
}

.class_type{
    position: relative;
    top : -175px;
    left : 210px;
    width: 70px;
    height: 40px;
    font-size: 10pt;
    color: grey;
}
.class_title{
    position: relative;
    top : -200px;
    left : 210px;
    font-size: 16px;
    width: 220px;
    height: 20px;
}

.class_title:hover{
	color : rgb(145, 224, 244);
    cursor: pointer;
}

/* 날짜 시간 */
.o_date{
    padding: 4% 2%;
    position: relative;
    width: 22%;
    height: 50px;
    border-right: 1px solid lightgray;
    top: -86px;
    left: 495px;
}
.o_dateP{
    position: relative;
    font-size: 0.8rem;
    color : rgb(121, 121, 121);
    margin-left: 42px;
}

.v_date{
    padding: 4% 2%;
    position: relative;
    width: 22%;
    height: 50px;
    border-right: 1px solid lightgray;
    top: -86px;
    left: 495px;
}

.v_dateP{
	position: relative;
    font-size: 1.0rem;
    color : rgb(121, 121, 121);
    margin-left: 105px;
}

/* 가격 */
.price{
    padding: 4% 2%;
    position: relative;
    width: 13%;
    height: 50px;
    top: -225px;
    left: 817px;
}
.class_priceP{
    font-size: 15px;
    font-weight: bold;
}

.refund_Btn{
    border: 1px solid rgb(185,185,185, 0);
    border-radius: 5px;
    width: 70px;
    height: 30px;
    background-color:rgb(218, 239, 245);
    cursor: pointer;
    margin-top : 2px;
    margin-left: -5px;
    font-weight : bold;
}