@charset "UTF-8"; /*인코딩 문자 깨짐 방지 (유니코드 문자열 있을 시)*/

html{
    /* 사용자 설정 문자 크기 그대로 반영 되도록 */
    font-size: 100%;
}

body {
    color : #432;
    line-height: 2.0; 
}

a {
    text-decoration: none;
}

img{
    max-width: 100%;
}

/* header ------------------------------ */
.header {
   width: 100%;
    max-height: 200px;
}

.head-inner {
    max-width: 1000px;
    max-height: 200px;
    margin : 0 auto;
}

.logo{
    width: 200px;
    text-align: center;
    display: block; 
    margin: 0px auto;
    margin-bottom: -20px;
}

.big-category{
    display: flex;
    justify-content: space-between;
}

.category1>a{
    margin-right: 20px;
    color: gray;
    font-family: 'Noto Sans KR', sans-serif;
}
.category1{
    margin-left:40px;
}

.category2>a{
    margin-right: 20px;
    color: gray;
    font-family: 'Noto Sans KR', sans-serif;
}
.category2{
    margin-right:40px;

}





/*---------------body----------------*/

/* 배너 */
.board {
    width: 100%;
    display: flex;
 }
 
 .board-inner {
     max-width: 1000px;
     margin : 0 auto;
 }

 *{
    box-sizing: border-box;
   
}

div{
    display: block;
}

.joinInfoArea{
    max-width: 400px;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-top: 50px;
    margin-left: 36.5%;
    margin-bottom: 3rem!important;
    
}

.firstjoin{
    margin-left: 60px;
    
}

form{
    display: block;
    margin-top: 0em;
}

body{
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
 
html{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body, html{
    font-family: Noto Sans KR;
    letter-spacing: -.4px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.common-form{
    position: relative;
    width: 400px;
    height: 100%;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
    margin-left: 50px;
    margin-bottom: .5rem!important;
    flex: 0 0 100%;
    max-width: 100%;
    display: block;
    
}

#idCheck{
    margin-left: 5px;
}

.form-group{
    margin-bottom: 0;
    margin: 0;
}

.form-label{
    font-size: 13px;
    color: #000;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: -.31px;
    margin-bottom: .25rem!important;
    width: 100px;
    font-weight: 700;
    font-size: 0.9rem;
    
}

.form-control{
    border-radius: 5px;
    width: 270px;
    height: 35px;
    border: 1px solid lightgray;
}

.form-check{
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

.form-check-input{
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
    overflow: visible;
    display: flex;
}

#pwdUpdateBtn{
    border-radius: 3px;
}

#btn-modify{
    width: 100px;
    margin-top: 25px;
    margin-left: 52px;
    padding: 9px;
    border-radius: 20px;
    border: 1px solid #DAEFF5;
    background-color: #DAEFF5;
    font-size: 1rem;
    font-weight: 700;
}

#btn-delete{
    width: 100px;
    margin-top: 30px;
    margin-left: 12px;
    padding: 9px;
    border-radius: 20px;
    border: 1px solid red;
    background-color: red;
    font-size: 1rem;
    font-weight: 700;
}

/*---------------footer----------------*/

.footer{
    width: 100%;
    height: 150px;
    background-color:  rgb(248, 241, 233);
}

.foot-inner{
    max-width: 1000px;
    max-height: 150px;
    margin : 0 auto;
    display: flex;
    justify-content: space-between;
}

.foot-all{
    margin-top:25px;
}

.foot-logo{
    font-size: 30px;
    font-weight: bold;
    color:rgb(145, 244, 244);
    margin-left: 100px;
    margin-top: 45px;
    font-family: 'Noto Sans KR', sans-serif;

}

.information{
    font-size: 5px;
}

.foot-category{
    font-size: 5px;
    font-weight: bold;
    margin-right: 100px;
}

.foot-category>ul>a{
    color:black;
}


/* 이용약관 */
.final{
    max-width: 1000px;
    margin : 0 auto;
}

.foot-final{
    text-align:center;
    font-size: 5px;
    font-weight: bold;
}

.foot-final>a{
    color: gray;
    font-size: 12px;
}