@charset "UTF-8";
html{
    font-size:100%;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* body-----------------*/
/* 상단 타이틀 */
.sList_wrapper{
    margin : 10px auto;
    padding : 2% 4%;
    width : 90%;
}

#sList_box{
    width: 70%;
    margin : 0 auto;
    border : 6px solid rgb(218,239,245);
    padding: 3% 4%;
    margin-bottom: 30px;
}

#back {
    font-size: 0.9rem;
    color: slategray;
}

#back:hover{
    color: rgb(145, 224, 244);
    text-decoration: none;
}

#main_title{
    color: rgb(188,188,188);
    font-weight: bold;
    margin-top: -20px;
}

/* 모임내역 - 참여 전  */
.sList_before{
	width : 80%;
	margin : 4%;
}
.sList_before h3{
     display : inline;
}

#before_count{
    color : rgb(201, 0, 0);
    font-weight: bold;
    font-size: 11pt;
    display : inline;
    margin-left: 2%;
}

.slist_body {
	width : 100%;
}
#firstline,
#secondline {
	width : 90%;
	margin-left : 6%;
}

.slide1{
	width : 100%;
}

.ipic{
	width : 94%;
	height : 190px;
    /* border: 0.5px solid lightgrey; */
    /* margin-left: 30px; */
}

.ipic:hover{
    transform:scale(1.05);
    cursor : pointer;
}

#stitle{
    font-size: 12pt;
    font-weight: 600;
    color : rgb(88, 88, 88);
    display : inline;
}

#stitle:hover{
    color : rgb(7, 86, 105);
}

#stime{
    color: rgba(65, 64, 64, 0.781);
    font-size: 10pt;
    display : inline;
}

/* 슬라이드 버튼 */
.btnArea1{
	width : 100%;
}
.button1{
    left:20%;
    top : 590px;
    position:absolute;
    cursor: pointer;
}

.button2{
    right: 20%;
    top : 590px;
    position:absolute;
    cursor: pointer;
}


/* 모임내역 - 참여 완료 */
.sList_after{
	width : 80%;
	margin : 4%;
}
.sList_after h3{
   display : inline;
}

#after_count{
    color : rgb(201, 0, 0);
    font-weight: bold;
    font-size: 11pt;
    display : inline;
    margin-left : 2%;
}

.button3{
    left:20%;
    top : 1040px;
    position:absolute;
    cursor: pointer;
}

.button4{
    right: 20%;
    top : 1040px;
    position:absolute;
    cursor: pointer;
}
