@charset "UTF-8";
html{
    font-size:100%;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
}

img{
    max-width: 100%;
}
li{
	list-style-type: none;
}

/* body ----------*/
#mypage_wrapper{
	width: 90%;
    margin: 0 auto;
    padding: 2% 2%;
}
.mypage_main{
    margin-left: 8%;
    justify-content: space-between;
    display: flex;
    width: 85%;
}
.wrapper1{
   border : 6px solid rgb(218, 239, 245);
   background-color: white;
   width: 31%;
}
.wrapper2{
    border : 6px solid rgb(218, 239, 245);
    background-color: white;
    width: 66%;
 }

/* 사용자 정보------*/
.info{
    width: 70%;
    margin-left: 3%;
}
.info h2{
    color : rgb(7, 86, 105);
    margin-left : 4%;
    margin-top : 10%;
    font-size: 1.8rem;
}

/* 알림 */
.notice{
    position: relative;
    left : 90%;
    top : -50px;
}
.notice p{
    margin-top: -10px;
    text-decoration: none;
    color: grey;
    font-size: 12px;
}

/* 프로필 */
.profile{
    margin: 5% auto;
    width: 75%;
    padding: 2%;
}
#mypic{
	width :45%;
	margin : 0 auto;
}

#infoarea{
	width :70%;
	margin : 0 auto;
	padding : 2%;
}
#name{
    color : rgb(77, 77, 77);
   	margin-left : 34%;
    font-size: 1.4rem;
    font-weight: bold;
    width: 50%;
    display : inline;
}

#level{
    border : 1.5px solid lightgrey;
    border-radius: 5px;
    padding : 1.5% 3.5%;
    font-size: 1.0rem;
    text-align: center;
	display : inline;
	margin-left : 5%;
}

#mail{
    font-size: 1.0rem;
    color : rgb(141, 141, 141);
    margin: 0 15%;
    display: inline;
}
#myfeed{
    font-size: 1.0rem;
    font-weight: bold;
    color : rgb(77, 77, 77);
	width : 60%;
	margin : 0 33%;
    display: inline;
}

/*페이지 이동 영역*/
#movebox{
	width: 70%;
	padding: 4% 2%;
	background-color: rgb(248, 241, 233);
	margin : 4% auto;
	display: flex;
    justify-content: space-between;
}

.move{
    width: 100%;
    margin: 0 auto;

}
.move li{
    margin-bottom : 2px;
    width: 100%;
    margin: 0 auto;
}
.mv{
    color :rgb(77, 77, 77);
    font-size: 13pt;
    margin-left: -3%;
}
.pmv{
    margin-left: 56%;
}
   

/* 관심내역 ---------*/
.interest{
    padding: 3%;
    margin: 15px auto;
}
.interest h3{
    color : rgb(77, 77, 77);
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: -20px;
}

.interest span p{
    position: relative;
    top : -24px;
    left : 120px;
    font-size: 13px;
    color: rgb(201, 0, 0);
}


/*소셜링*/
.socialing:not(p){
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns : 220px 220px 220px ; */
    gap: 30px 25px;    
}

.ipic {
	width : 100%;
	height : 150px;
}

.socialing {
	margin-top : 8%; 
}
.item1:hover{
    transform: scale(1.05);
    cursor : pointer;
}

#stitle{
    position: relative;
    top : -10px;
    font-size: 12pt;
    margin-left: 4px; 
    font-weight: 600;
    color : rgb(7, 86, 105);
}

#stitle:hover{
    color : rgb(7, 86, 105);
}

.sdate{
    color : rgb(88, 88, 88);
    font-weight : bold;
    margin-top: -20px;
    font-size: 10pt;
    margin-left: 4px; 
}

#stime{
    color : rgb(88, 88, 88);
    font-weight : bold;
    margin-top: -20px;
    font-size: 9pt;
    margin-left: 4px; 
}

.smv{
    margin-top: 45px; 
    margin-left : 240px;
}

.sarr{
    margin: 0px 5px 0px 5px;
}

/* 페이징 버튼------------*/

.wrapper5{
    display: flex;
    margin: 20px auto;
    justify-content: space-around;
    width: 30%;
}
.paging{
  
} 

.pagingcircle {
	
}
