@charset "UTF-8";
html{
    font-size:100%;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
}

img{
    max-width: 100%;
}

/* body-----------------*/
.class_wrapper{
	display : flex;
	width: 100%;
    margin-top: 1%;
}
.class_main{
	margin: 0 auto;
	max-width : 1000px;
}

.wrapper1 {
	width : 100%;
}
.wrapper1 h1{
    color:  rgb(7, 86, 105);
}
.wrapper1 p{
    font-size: 18px;
    color: rgb(161, 161, 161);
    top : -30px;
    position: relative;
    font-weight: 550;
}
.wrapper2{
	width : 100%;
}

/* 사진 자동 슬라이드 ------------------*/
/* *{margin:0;padding:0;} */
.slide ul,li{list-style:none;}
.slide{
        height:400px;
        width: 430px;
        margin-left: -3.4%;
        overflow:hidden;
        position: static;}
.slide ul{
          width:calc(100% * 4);
          display:flex;
          animation:slide 8s infinite;} /* slide를 8초동안 진행하며 무한반복 함 */
.slide li{width:calc(100% / 4);}
/* .slide li:nth-child(1){background:#ffa;}
.slide li:nth-child(2){background:#faa;}
.slide li:nth-child(3){background:#afa;}
.slide li:nth-child(4){background:#aaf;} */
@keyframes slide {
  0% {margin-left:0;} /* 0 ~ 10  : 정지 */
  10% {margin-left:0;} /* 10 ~ 25 : 변이 */
  25% {margin-left:-100%;} /* 25 ~ 35 : 정지 */
  35% {margin-left:-100%;} /* 35 ~ 50 : 변이 */
  50% {margin-left:-200%;}
  60% {margin-left:-200%;}
  75% {margin-left:-300%;}
  85% {margin-left:-300%;}
  100% {margin-left:0;}
}

/* 필터링 ------------------------------- */
.filtering{
    background-color: rgb(218, 239, 245);
    width: 55%;
    height: 324px;
    margin-top: -384px;
    margin-left: 39%;
    margin-bottom: 30px;
    padding: 3%;
    display: flex; 
    justify-content : space-between;
}

.filtering form{
    margin: 0 auto;
}

.filtering input:focus{
    outline: none;
}

#search{
    position: relative;
    margin-top: 30px;
}

.filtering label:not(.ckboxlabel){
    color: rgb(77, 77, 77);
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 15px;
}

.filtering input[name=keyword]{
    margin-top: -40px;
    margin-left: 10px;
    font-size : 12pt;
    border: none;
    border-bottom: 1px solid rgb(185,185,185);
    text-align: center;
    background-color: #ffffff00;
    margin-bottom: 35px;
}

.filtering input[name=price1]{
    width: 80px;
    margin-left: 60px;
    margin-bottom: 25px;
    border-radius: 5px ;
    border: 1px solid rgb(185,185,185, 0);
    height : 25px;
}

.filtering input[name=price2]{
    width: 80px;
    margin-left: 5px;
    margin-bottom: 25px;
    border-radius: 5px ;
    border: 1px solid rgb(185,185,185, 0);
    height : 25px;
}


.filtering select[name=bigC]{
    margin-left: 30px;
    border-radius: 5px ;
    border: 1px solid rgb(185,185,185, 0);
    margin-bottom: 25px;
    width: 110px;
    height : 25px;
    
}

.filtering select[name=smallC]{
    margin-left: 30px;
    border-radius: 5px ;
    border: 1px solid rgb(185,185,185, 0);
    margin-bottom: 25px;
    width: 130px;
    height : 25px;
}

.ckboxlabel{
    font-size: 12pt;
    color: rgb(88, 88, 88);
    margin-bottom: 25px;
}

.filtering input[name=oneday]{
    margin-left: 15px;
    border: 1px solid rgb(185,185,185);
    margin-bottom: 25px;
}

.filtering input[name=vod]{
    margin-left: 31px;
    border: 1px solid rgb(185,185,185);
    margin-bottom: 25px;
}

.filtering button{
    height: 35px;
    width: 120px;
    border-radius: 5px ;
    border: 1px solid rgb(185,185,185, 0);
    cursor: pointer;
    font-weight: bold;
    font-size : 1.0rem;
}

.filtering button[name=reSel]{
    background-color: rgb(248, 241, 233);
    margin-left: 50px;
    color: rgb(7, 86, 105);
}

.filtering button[name=selEnd]{
    background-color: rgb(7, 86, 105);
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 60px;
}

/* 클래스 정렬 방식---------------- */
/* .wrapper3{
    display: flex;
    margin: 20% 0% 10% 100%;
}
.wrapper3 select{
    border-radius: 5px ;
    border: 1px solid lightgrey;
}
 */


/* 클래스 목록---------------- */
.wrapper4{
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 40px;
    margin : 8% auto;
   /*  margin-bottom: 50px;
    margin-top: 10%;
    margin-left : 6%; */
}

.cItem:hover{
    cursor : pointer;
	transform:scale(1.05);
}

.cThumbnail{
    width: 100%;
    height: 220px;
}

.cMTitle{
    text-align: left;
    margin-top: -5px;
    color: rgb(88, 88, 88);
}

.cPrice{
    text-align: left;
    margin-top: -25px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(7, 86, 105);
}

/* 클래스 신청 버튼 */
#classBtn {
    height: 40px;
    width: 110px;
    border-radius: 5px ;
    font-weight: bold;
    border: 1px solid rgb(185,185,185, 0);
    cursor: pointer;
    font-size : 1.0rem;
    background-color: rgb(218, 239, 245);
    color: black;
    margin-left: 90%;
}

/* 페이징 버튼------------*/
.wrapper5{
    display: flex;
    margin: 20px auto;
    justify-content: center;
}
.paging{
    margin-left: 1%; 
    margin-right : 1%;
} 