@charset "UTF-8";

html {
    font-size : 100%;
    font-family: 'Noto Sans KR', sans-serif;
}

.body {
    width: 100%;
    margin : 0 auto;
    height: auto;
}

.list{
    width : 130px;
    height: 105px;
    margin: 0 0;
    padding-inline-start: 0px;
}

.list-each{
    border: 1px black solid;
    padding: 5px;
}

.list-each>a{
    padding: 5px;
    text-decoration-line:none;
    color: black;
}

