.modal{
  position:fixed;
  width:690px; 
  height:520px; 
  /* background: rgba(0,0,0,0.8);  */
  background-color: rgb(255, 246, 235);
  top : 30px;
  left: 300px;
  display:none;
  box-shadow: 5px 5px 5px lightgrey;
  border-radius: 5px ;
  border: 1px solid rgb(255, 255, 255);
}

.modal_content{
  padding: 2%;
} 

#back .imgwrap {
  position: relative;
  width: 100%;
  height: 100%;
}

#back .imgview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

#back .imgview.opaque {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);    
}

#container {
  width: 480px;
  color: rgb(7, 86, 105);
  font-weight: 600;
  margin-top: 2rem;
  margin-left: 1rem;
  float: left;      
}

#container h3{
  margin-left: 220px;
  margin-top: -30px;
  margin-bottom: 35px;
}

#calenda {
  color : grey;
  font-size: 0.8rem;
}

#weekDic {
  font-size: 0.7rem;
  margin-top: 20px;
  margin-left: 12px;
}

.day {
  width: 12%;
  height: 40px;
  display: inline-block;
  padding: 2px;
  text-align: center;
} 

.today {
  border: 1px solid rgb(7, 86, 105);
  border-radius: 10px;
  color: rgb(7, 86, 105);
}
.dic {
  display: inline-block;
  width: 11%;
  padding: 5px;
}
#controller {
  color: rgb(7, 86, 105);
  margin-top: 7rem; 
}

#controller h3 {
  margin-bottom: -20px;
  margin-left: 524px;
}

#calBtn1{
  margin-left: 70px;
  margin-bottom: -40px;
}
#calBtn2{
  margin-left: 280px;
  margin-top: -30px;
  margin-bottom: 10px;
}
#container .calBtn img {
  width: 1.2rem;
  height: 1.2rem;
  filter: invert(85%);
  transition: 0.3s;
}
#container .calBtn img:hover{
  transform:scale(1.3);
  filter: invert(100%);
}

#year {
  font-size: 1.2rem;
  margin-left: 160px;
  margin-top: -15px;
}
#month {
  font-size: 1.2rem;
  margin-left: 225px;
  margin-top: -37px;
}

#this-day {
  font-size: 5rem;
  margin-left: 520px;
}
#date {
 font-size: 2.0rem;
 font-weight: bold;
 margin-top: -30px;
}