@charset "UTF-8";

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.container{
    max-width: 1000px;
    width: 100%;
    margin : 0 auto;
    margin-top: 5%;
}

.text {
    display: inline-block;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: -10px;
    margin-bottom: -10px;
    text-align: center;

 }

 .class-info{
    padding-right: 20%;
    
 }

 hr{
     background-color: rgb(218,239,245);
     height: 2px;
     border: 0px;
 }