@charset "UTF-8"; /*인코딩 문자 깨짐 방지 (유니코드 문자열 있을 시)*/

html{
    /* 사용자 설정 문자 크기 그대로 반영 되도록 */
    font-size: 100%;
}

body {
    color : #432;
    line-height: 2.0; 
    
    
}

a {
    text-decoration: none;
}

img{
    max-width: 100%;
}

/* header ------------------------------ */
.header {
    width: 100%;
    margin : 0 auto;
 }
 
 .head-inner {
     width: 930px;
     height:600px;
     margin : 0 auto;
     display: flex;
 }
 
 .left-menu{
     width: 230px;
     height: 560px;
     background: rgb(218, 239, 245);
     border: 6px solid rgb(218, 239, 245);
 }
 
 .main-menu{
     list-style: none;
 }
 
 .main-logo{
     font-size: 1.25rem;
     letter-spacing: 4px;
     color: black;
 }
 
 .main-menu2{
     margin-top: 10px;
     letter-spacing: 2px;
     color: black
 }
 
 .under-logo{
     margin-left: 30px;
     margin-top: 100px;
     letter-spacing: 3px;
     line-height: 55px;
     font-size: 2.8rem;
 }
 
 .icon{
     width: 30px;
     margin-top: 15px;
 }
 
 .icon2{
     width: 35px;
     margin-top: 7px;
 }
 
 .banner-slide1{
     display: inline;
 }
 
 .banner{
     width: 700px;
     height: 180px;
     background-size: cover;
     border: 2px solid rgb(218, 239, 245);
 }
 
 .header-banner{
     width: 750px;
 }
 
 .right-title{
     font-weight: 700;
     margin-top: 15px;
     margin-left: 30px;
 }
 
 .slide-title{
    color: black;
    
 }
 
 .slide1-name{
     color: black;
     float: right;
 }

/* 시작 임박 소셜링 */

#soon-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

#like2 {
    width: 35px;
    position : absolute;
    bottom : 20px;
    left : 210px;
    z-index : 10;
}

#profile2 {
    width: 55px;
    position : absolute;
    left: 212px;
    top: -2px;
    cursor: pointer;
}

#s-thumbnail {
    height: 200px;
    width: 100%;
}

#s-thumtitle {
    margin-top: 5px;
    font-weight: bold;
    cursor: pointer;
    color: black;
    margin-left: 50px;
}

#s-thumsub {
    margin-top: -45px;
    color: lightslategray;
    margin-left: 40px;
}



/* 슬라이드 */

.slide{
    position: static;
    
}

/*.swiper {
    width: 580px;
    height: 350px;
    margin-left: 75px;
}*/

.slide ul{
    animation: slide 8s infinite;
}

.slide ul, li{
    list-style: none;
}

.button1{
    position: relative;
    top:-220px;
    left: 20px;
    
}
.button2{
    position: relative;
    top:-270px;
    right: -670px;
    
}

.button-prev1{
    position: relative;
    margin-left: -170px;
}

.button-next2{
    position: relative;
    margin-right: -170px;
}

/*---------------body----------------*/
.body-inner {
     width: 930px;
     height:500px;
     margin : 0 auto;
     display: flex;
 }

#socialing-title{
    margin-top: 10px;
    
}

.content-title{
    margin-left: 100px;
    
    
}

#view-all{
    margin-left: 850px;
    color: rgb(154, 154, 154);
    line-height: 7px;

}

.view-all{
    margin-left: 850px;
    color: rgb(154, 154, 154);
    line-height: 7px;

}

.slide2{
	margin-left: 47px;
}

.swiper {
    width: 830px;
    height: 330px;
    margin-left: 130px;
}

.button3{
    position: relative;
    top:-230px;

    
}
.button4{
    position: relative;
    top:-275px;
    right: -890px;
    
}

.button-prev{
    position: relative;
    margin-left: -170px;
}

.button-next{
    position: relative;
    margin-right: -170px;
}

.button5{
    position: relative;
    top:-230px;
    
}
.button6{
    position: relative;
    top:-275px;
    right: -890px;

}

.button-prev{
    position: relative;
    margin-left: -170px;
}

.button-next{
    position: relative;
    margin-right: -170px;
}

/*---------------footer----------------*/

.board {
    width: 100%;
    display: flex;
 }
 
 .board-inner {
     max-width: 1000px;
     margin : 0 auto;
 }

/*---------------footer----------------*/

.footer{
    width: 100%;
    height: 150px;
    background-color:  rgb(248, 241, 233);
    color : #432;
}

.foot-inner{
    max-width: 1000px;
    max-height: 150px;
    margin : 0 auto;
    display: flex;
    justify-content: space-between;
}

.foot-logo{
    font-size: 30px;
    font-weight: bold;
    color:rgb(145, 244, 244);
    margin-left: 100px;
    margin-top: 45px;
    font-family: 'Noto Sans KR', sans-serif;

}

.information{
    font-size: 5px;
    margin-top: 12px;
}

.foot-category{
    font-size: 5px;
    font-weight: bold;
    margin-right: 100px;
    margin-top: 22px;
}

.foot-category>ul>a{
    color:black;
}


/* 이용약관 */

.final{
    max-width: 1000px;
    margin : 0 auto;
}

.foot-final{
    text-align:center;
    font-size: 5px;
    font-weight: bold;
}

.foot-final>a{
    color: gray;
    font-size: 12px;
}
